<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="mx-auto overflow-hidden">
    <div class="w-full h-full bg-slate-900 p-10 text-white">
      <div class="nav mb-6">
        <a href="/" class="text-2xl text-blue-500 hover:text-blue-400 transition duration-300 ease-in-out">
          ← Back to home
        </a>
      </div>
      <h1 class="tracking-tighter text-4xl mb-6 font-semibold flex flex-wrap">
        All users
      </h1>

      <div class="users flex flex-wrap gap-10 justify-start">
        <% if(users.length> 0) { %>
          <% users.forEach(function(user) { %>
            <div
              class="user w-64 p-4 bg-slate-800 rounded-lg shadow-lg hover:shadow-xl transition duration-300 ease-in-out">
              <div class="h-52 rounded-lg bg-zinc-700 overflow-hidden">
                <img class="w-full h-full object-cover object-top transition-transform duration-500 hover:scale-105"
                  src="<%= user.image %>" alt="" />
              </div>
              <h3 class="text-zinc-200 mt-3 text-2xl font-bold">
                <%= user.name %>
              </h3>
              <h5 class="text-blue-400 mt-1 text-lg">
                <%= user.email %>
              </h5>
              <div class="mt-4 flex gap-4">
                <a class="underline text-blue-400 hover:text-blue-300 transition duration-300 ease-in-out" href="/edit/<%= user._id%>">Edit
                  user</a>
                <a class="underline text-red-500 hover:text-red-400 transition duration-300 ease-in-out"
                  href="/delete/<%= user._id %>">Delete user</a>
              </div>
            </div>
            <% }) %>
              <% } else { %>
                <h3 class="text-zinc-400">No Users Yet</h3>
                <% } %>
      </div>
    </div>
  </div>
</body>

</html>